{% extends 'base.html.twig' %}

{% block title %}New Rarete{% endblock %}

{% block body %}
    <h1>Create new Rarete</h1>

    {{ include('rarete/_form.html.twig') }}

    <a href="{{ path('app_rarete_index') }}">back to list</a>
{% endblock %}
