{% extends 'base.html.twig' %}

{% block title %}New Religion{% endblock %}

{% block body %}
    <h1>Create new Religion</h1>

    {{ include('religion/_form.html.twig') }}

    <a href="{{ path('app_religion_index') }}">back to list</a>
{% endblock %}
