<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>

    <link href={{ asset('/CSS/bulma.min.css') }} rel="stylesheet">
    <link href={{ asset('/CSS/template.css') }} rel="stylesheet">
    <script src="https://kit.fontawesome.com/218868dcf5.js" crossorigin="anonymous"></script>
    <style>

        html, body {


            background: url("/CSS/IMG/fond2.jpg");
            background-size: cover;

        }

        #form_label {
            text-decoration-color: #00c4a7;
        }

        #pizza_ingredients{
            display: flex;
            margin-left: 5px;
        }

        .form-check{
            margin-right: auto;
        }

    </style>
    <script src="https://cdn.jsdelivr.net/npm/axentix@0.5.3/dist/js/axentix.min.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', () => {

            // Get all "navbar-burger" elements
            const $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);

            // Check if there are any navbar burgers
            if ($navbarBurgers.length > 0) {

                // Add a click event on each of them
                $navbarBurgers.forEach( el => {
                    el.addEventListener('click', () => {

                        // Get the target from the "data-target" attribute
                        const target = el.dataset.target;
                        const $target = document.getElementById(target);

                        // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
                        el.classList.toggle('is-active');
                        $target.classList.toggle('is-active');

                    });
                });
            }

        });

        $(document).ready(function() {

            // Check for click events on the navbar burger icon
            $(".navbar-burger").click(function() {

                // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
                $(".navbar-burger").toggleClass("is-active");
                $(".navbar-menu").toggleClass("is-active");

            });
        });
    </script>
</head>
<body>
{% block navbar %}
    <nav class="navbar has-background-black is-dark" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a class="navbar-item">
                <img src="/CSS/IMG/logo2.png" width="112" height="28">
            </a>

            <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>

        <div id="navbarBasicExample" class="navbar-menu">
            <div class="navbar-start">
                <a class="navbar-item" href="/home">
                    Accueil
                </a>
                <div class="navbar-item has-dropdown is-hoverable ">
                    <a class="navbar-link">
                        Lore
                    </a>

                    <div class="navbar-dropdown has-background-black has-text-white">
                        <a class="navbar-item">
                            Chronologie
                        </a>
                        <a class="navbar-item">
                            Carte
                        </a>
                        <a class="navbar-item">
                            Source Pouvoir
                        </a>
                        <a class="navbar-item">
                            Panthéon
                        </a>
                        <a class="navbar-item">
                            Magie
                        </a>
                        <hr class="navbar-divider">
                        <a class="navbar-item">
                            Report an issue
                        </a>
                    </div>
                </div>

                <div class="navbar-item has-dropdown is-hoverable ">
                    <a class="navbar-link">
                        Bibliothéque
                    </a>
                    <div class="navbar-dropdown">
                <a class="navbar-item">
                    Race
                </a>
                <a class="navbar-item">
                    Factions
                </a>
                <a class="navbar-item">
                    Religions
                </a>
                <a class="navbar-item">
                    Bestiaire
                </a>
                <a class="navbar-item">
                    Flore
                </a>
                    </div>
                </div>

                <div class="navbar-item has-dropdown is-hoverable ">
                    <a class="navbar-link">
                        JDR
                    </a>

                    <div class="navbar-dropdown">
                        <a class="navbar-item">
                            Quesque le JDR ?
                        </a>
                        <a class="navbar-item">
                            Comment RP ?
                        </a>
                        <a class="navbar-item">
                            Créer sa fiche
                        </a>
                        <a class="navbar-item">
                            Armurerie
                        </a>
                        <a class="navbar-item">
                            Forum
                        </a>
                        {% if is_granted('ROLE_USER') %}
                        <a class="navbar-item" href="/generation">
                            Génération de fiche
                        </a>
                        {% endif %}
                        <hr class="navbar-divider">

                        <a class="navbar-item" href="/admin/crud">
                            Administration
                        </a>
                    </div>
                </div>
            </div>

            <div class="navbar-end">
                {% if is_granted('ROLE_USER') %}
                    <div class="navbar-item">
                        <div class="buttons">
                            <button onclick="window.location.href = '/profil';"class="button is-success is-outlined">
                                <span>Profil</span>

                                <span class="icon is-small">
                                    <i class="fa-solid fa-address-card"></i>
                                </span>
                            </button>
                            <button onclick="window.location.href = '/deconnexion';" class="button is-danger is-outlined">
                                <span>Deconnexion</span>
                                <span class="icon is-small">
                                   <i class="fa-solid fa-arrow-right-from-bracket"></i>
                                </span>
                            </button>
                        </div>
                    </div>

                {% else %}
                    <div class="navbar-item">
                        <div class="buttons">
                            <button onclick="window.location.href = '/inscription';"class="button is-success is-outlined" href="/inscription">
                                <span>Inscription</span>

                                <span class="icon is-small">
                                    <i class="fa-solid fa-address-book"></i>
                                </span>
                            </button>
                            <button onclick="window.location.href = '/connexion';" class="button is-info is-outlined">
                                <span>Connexion</span>
                                <span class="icon is-small">
                                   <i class="fa-solid fa-right-to-bracket"></i>
                                </span>
                            </button>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </nav>
{% endblock %}

{% block body %}{% endblock %}

{% block footer%}
    <footer class="footer has-background-black" style="padding-top: 0px;padding-bottom: 0px;">
        <div class="container">
            <div class="level">
                <div class="level-left">
                    <div class="level-item"><a class="title is-4 has-text-white" href="#">Mirror's World</a></div>
                </div>
            </div>
            <hr>
            <div class="columns">
                <div class="column">
                    <div class="buttons">
                        <a class="is-size-2 mr-4 pr-2" href="https://discord.gg/kaT8PC6Tf9" style="color:white;"><span class="icon"><i class="fab fa-discord" aria-hidden="true"></i></span></a>
                        <a class="is-size-2 mr-3" href="" style="color:white;"><span class="icon"><i class="fab fa-instagram" aria-hidden="true"></i></span></a>
                    </div>
                </div>
                <div class="column has-text-centered has-text-right-tablet">
                    <p class="subtitle is-6 has-text-white">&copy; 2021 Sting Shadow. Tout droits réservés.</p>
                </div>
            </div>
        </div>
    </footer>
{% endblock %}




</body>
</html>
