{% extends 'base.html.twig' %}

{% block title %}Theme index{% endblock %}

{% block body %}
   <div class="container has-background-black mb-5" style="opacity: 0.9;">

    <header class="header mt-5">
        <h1 class="title has-color-grey text-shadows is-uppercase is-size-3 pt-3 pl-4 pb-3">
            Forum <span style="margin-left: 57%;"><a href="/theme/new">Ouvrir une discussion</a></span>
        </h1>
    </header>
    <div class="separator"></div>

    <div class="columns is-multiline mt-5 mb-5">
   {% for theme in themes %}
  <div class="column is-3">
    <div class="card has-background-grey">
      <div class="card-image">
        <figure class="image is-4by3">
        {% if theme.photo %}
          <img src="/CSS/IMG/theme/{{theme.photo}}" alt="Placeholder image">
          {% else %}
            <img src="/CSS/IMG/logo.png" alt="Placeholder image">
          {% endif %}
        </figure>
      </div>
      <div class="card-content">

          <p class="title is-3 has-text-centered pb-2">{{theme.titreTheme}}</p>
        <div class="content">

          {{theme.descriptionTheme}}
          <br>
        </div>
        <div class="level ">
          <div class="level-item">
            <div>
              <a href="/theme/{{theme.id}}" class="button">
                <span class="icon has-text-info">
                  <i class="far fa-eye"></i>
                </span>
                <span>Accéder a la discussion</span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endfor %}
  </div>
</div>

    
{% endblock %}
