{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
<div class="container has-background-black has-text-white mt-5 mb-5" style="opacity: 0.9;">
    <p class="has-text-white">Ajout d'un theme</p>

    {{ include('theme/_form.html.twig') }}

    <a href="{{ path('app_theme_index') }}">back to list</a>
</div>
{% endblock %}
