{% extends 'base.html.twig' %}

{% block title %}Race index{% endblock %}

{% block body %}
<div class="container has-background-black mb-5" style="opacity: 0.9;">

    <header class="header mt-5">
        <h1 class="title has-color-grey text-shadows is-uppercase is-size-3 pt-3 pl-4 pb-3">
            Races <span style="margin-left: 63%;">Listing Races</span>
        </h1>
    </header>
    <div class="separator"></div>

        {% for race in races %}

            <figure class="snip1477 is-128x128">

                <img src="/CSS/IMG/{{race.nomRace}}.jpg" alt="sample38" />
                <div class="title-1">
                    <div>
                        <h2 class="has-text-white has-text-weight-bold">{{ race.nomRace }}</h2>
                        <h4>Détail</h4>
                    </div>
                </div>
                <figcaption>
                    <p>Découvrez en plus sur les {{ race.nomRace}}</p>
                </figcaption>
                <a href="/race/{{race.id}}"></a>
            </figure>
        {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}
